body {
		/*background:#eff0f1;*/
}

/* START For Collapsible Panels Accordion */
.panel-heading a:after {
	font-family:'Glyphicons Halflings';
	content:"\e114";
	float: right;
	color: grey;
}
.panel-heading a.collapsed:after {
	content:"\e080";
}
.tr_field_color th {
	color:#FFFFFF;
	font-weight: 400;
	text-align: center;
}

body > .container{
	padding-top: 125px;
}
.jqclock{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}
.clock-alert{
	margin-bottom: 10px;
}

#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.glyphicon {
	color:#3E9DD7;
}
.glyphicon:hover {
	color:#3E9DD7;
}
.panel-heading a::after {
	float:left;
	color: white;
}
.clickable{
	cursor: pointer;
}
.tr_field_color{
	background: #5b5b5b;
}