/* SAMPLE CSS STYLES FOR JQUERY CLOCK PLUGIN */
.jqclock { 
	text-align:center; 
	/*border: 1px Black solid; */
	background: #F0F8FF; 
	padding: 10px; 
	margin:5px; 
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.clockdate { 
	color: navy; 
	
	margin-bottom: 5px; 
	font-size: 17px; 
	display: block;
}

.clocktime { 
	border: 2px inset White; 
	background: Black; 
	padding: 5px; 
	font-size: 24px; 
	font-family: "Courier"; 
	color: LightGreen; 
	margin: 2px; 
	display: block; 
	font-weight:bold;
}
